.popup__conteiner_form {
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 36px;
  box-sizing: border-box;
}

@media screen and (max-width: 530px) {
  .popup__conteiner_form {
    width: 282px;
    padding: 25px 22px;
  }
}
