.header__email {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color: #FFFFFF;
    margin: 0 24px 0 0;
}

  @media screen and (max-width: 530px) {
    .header__email {
        display: none;
    }
  }
