.profile__subtitle {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  max-width: 300px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 670px) {
  .profile__subtitle {
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .profile__subtitle {
    font-size: 14px;
    line-height: 17px;
    max-width: 250px;
  }
}
