.button_type_submit-error-light {
  opacity: 0.2;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  background: none;
  cursor: default;
  margin-top: 188px;
}
@media screen and (max-width: 530px) {
  .button_type_submit-error-light {
    width: 260px;
  }
}