.footer__caption {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 67px 0 60px;
}

@media screen and (max-width: 880px) {
  .footer__caption {
    margin: 48px 0 36px;
    padding: 0 19px;
  }
}

@media screen and (max-width: 600px) {
  .footer__caption {
    font-size: 14px;
    line-height: 17px;
  }
}
